body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(https://github.com/mohlabi/zoo-entry/blob/main/buyi.jpg?raw=true)
}

#calculator {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(165, 81, 128);
}

input[type="number"], input[type="submit"] {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
